
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="todoItem">TodoItem</label>
                    <input type="text" #todo required class="form-control" id="todoItem">
                </div>
             <button mat-raised-button color="primary" 
             *ngIf="!isEDIT"
             (click)="onAdd(todo)"
             class="btn btn-sm btn-block ">Add Todo</button>
             <button 
             *ngIf="isEDIT"
             (click)="onUpdate(todo)"
             mat-raised-button color="accent" class="btn btn-sm btn-block ">Update Todo</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of todoArr">
               <span>{{todo.todoItem}}</span>

               <div>
                <button 
                (click)="onEdit(todo)"
                mat-raised-button color="primary"  class="btn btn-sm  mr-2">Edit</button>
                <button
                (click)="onRemove(todo.todoId)"
                 mat-raised-button color="warn" class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
            </li>

            
        </ul>
            </div>
        </div>
    </div>
</div>